<div class="ProfileBox">
    <div class="profileHeader">
        <i class="fas fa-user-circle"></i>
        <span>Editar Perfil</span>
    </div>
    <form class="form" [formGroup]="labForm">
        <div class="formBlock">
            <input class="Block__input" type="text" id="Name" placeholder=" " autocomplete="off"
                formControlName="nombre_p">
            <label class="Block__label" for="Name">Nombre</label>
        </div>
        <div class="formBlock">
            <input class="Block__input" type="number" id="ID" placeholder=" " autocomplete="off"
                formControlName="cedula_p">
            <label class="Block__label" for="ID">CC</label>
        </div>
        <div class="formBlock">
            <input class="Block__input" type="tel" id="Phone" placeholder=" " autocomplete="off"
                formControlName="telefono_p">
            <label class="Block__label" for="Phone">Telefono</label>
        </div>
        <div class="formBlock">
            <input class="Block__input" type="email" id="Email" placeholder=" " autocomplete="off"
                formControlName="correo_p">
            <label class="Block__label" for="Email">Correo</label>
        </div>
        <span>Editar información laboratorio:</span>
        <div class="formBlock">
            <input class="Block__input" type="text" id="NameLab" placeholder=" " autocomplete="off"
                formControlName="nombre_l">
            <label class="Block__label" for="NameLab">Nombre</label>
        </div>
        <div class="formBlock">
            <input class="Block__input" type="text" id="NIT" placeholder=" " autocomplete="off" formControlName="nit">
            <label class="Block__label" for="NIT">NIT</label>
        </div>
        <div class="formBlock">
            <input class="Block__input" type="tel" id="labPhone" placeholder=" " autocomplete="off"
                formControlName="telefono_l">
            <label class="Block__label" for="labPhone">Teléfono</label>
        </div>
        <div class="formBlock">
            <input class="Block__input" type="email" id="EmailLab" placeholder=" " autocomplete="off"
                formControlName="correo_l">
            <label class="Block__label" for="EmailLab">Correo</label>
        </div>
        <div class="formBlock">
            <input class="Block__input" type="text" id="address" placeholder=" " autocomplete="off"
                formControlName="direccion_l">
            <label class="Block__label" for="address">Dirección</label>
        </div>
        <div class="ButtonsBlock">
            <a class="change" routerLink="/sesionc/cambiarcontraseñac">Cambiar Contraseña</a>
            <a class="deleteAccount" (click)="alert()">Eliminar Cuenta</a>
            <a class="cancel" routerLink="/sesionc/navegarc/panellaboratorio"><i class="fas fa-times"></i></a>
            <button type="submit" class="save" [disabled]="!labForm.valid" (click)="onUpdate(labForm.value)">
                <i class="far fa-save"></i>
            </button>
        </div>
    </form>
</div>