<div class="changeBox">
    <h1>
        Editar perfil > Eliminar Cuenta
    </h1>
    <p>Para eliminar su perfil ingrese sus credenciales de inicio de sesión</p>
    <form class="form" [formGroup]="eliminarcuentaForm">
        <div class="form__block">
            <input type="text" placeholder=" " autocomplete="off" class="Block__input" id="oldpass" formControlName="correo">
            <label for="oldpass" class="Block__label">Correo Electronico</label>
        </div>
        <div class="form__block">
            <input type="text"  placeholder=" " autocomplete="off" id="newpass" class="Block__input" formControlName="contraseña">
            <label for="newpass" class="Block__label">Clave</label>
        </div>
        <div class="ButtonsBlock">
            <a routerLink="/sesionc/editarperfillab" class="cancel"><i class="fas fa-times"></i></a>
            <button type="submit"
                [disabled]="(!eliminarcuentaForm.valid)"

                (click)="onChangePass(eliminarcuentaForm.value)">
                Cambiar
            </button>
        </div>
    </form>
</div>