<div class="codePanel">
    <h1>Codigo de descuento</h1>
    <p>Para generar un codigo de descuento siga las siguientes instrucciones: </p>
    <p class="I1">1. Ingrese el valor por el cual va a dar el descuento.</p>
    <span class="advertencia">*El numero debe estar entre 1 y 100*</span>


    <form class="formCode" [formGroup]="codeForm">
        <div class="Form__Block">
            <input type="number" id="Code" class="Block__input" autocomplete="off" placeholder=" " min="1" max="100"
                formControlName="code">
            <label for="Code" class="Block__label">Descuento</label>
        </div>
        <button type="submit" class="Form__Button" [disabled]="!codeForm.valid " (click)="CodeGenerator(codeForm.value)">
            Generar Codigo
        </button>
    </form>


    <div class="CodeBox" *ngIf="Codigo != 0">
        <span>El codigo generado es: </span>
        <hr>
        <span>{{Codigo}}</span>
    </div>
</div>