@import '../../styles.scss';

.Box{
    @include box;
    
    img{
        width: 200px;
        height: 200px;
        align-self: center;
    }
    p{
        color: $shadows;
        font-weight: 900;
        text-align: center;
        padding: 1rem 1rem 1rem 1rem;
        margin-top: -2.5rem;
        margin-bottom: 3.5rem;
    }
}

.Form__Block{
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    margin: 0rem 0rem 2rem 0rem;
}

.Block__input{
    @include Inputedited;
}

.Block__label{
    @include labelEdited;
}
.Block__input:focus ~ .Block__label,
.Block__input:not(:placeholder-shown).Block__input:not(:focus)~ .Block__label {
    @include LabelAnimation;
}

.Form__Button{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1.5rem;


    button{
        @include MainButton;
        font-weight: 900;
        width: 40%;
        padding:   .6rem 1.2rem;
    }
}

@media  all  and (max-width: 486px ){
    .Box{
        border: none;
        filter: none;
        width: 100%;
        border-radius: none;
        animation: none;

        img{
            width: 180px;
            height: 180px;
        }

        p{
            margin-top: 0;
            padding: 0.5rem;
            width: 90%;
            margin:1.5rem auto 2.5rem auto;
            font-size: .9rem;
        }
    }

    .Form{
        .Form__Block{

            input{
                width: 90%;
            }

            label{
                left:2rem;
            }

        .Form__Button{

            input{
                width: 50%;
            }
            }
        }
    }
}