<div class="Box">
    <img src="../../assets/img/logo_size.jpg" alt="Logo">
    <p>Ingrese las credenciales dadas por el administrador del sistema</p>
    <form [formGroup]="credentialsForm" action="" method="post" class="Form">
        <div class="Form__Block">
            <input type="email" id="Email" autocomplete="off" placeholder="  " class="Block__input"
                formControlName="correo">
            <label for="Email" class="Block__label">Correo Electronico</label>
        </div>
        <div class="Form__Block">
            <input type="password" id="password" class="Block__input" placeholder=" " formControlName="contraseña">
            <label for="password" class="Block__label">Contraseña</label>
        </div>
        <div class="Form__Button">
            <button type="submit" [disabled]="!credentialsForm.valid" (click)="onSignIn(credentialsForm.value)">
                Ingresar
            </button>
        </div>
    </form>
</div>