<div class="Box">
    <img src="../../assets/img/logo_size.jpg" alt="Logo">
    <p>Ingrese las credenciales dadas por el administrador del sistema</p>
    <form action="" method="post" class="Form">
        <div class="Form__Block">
            <input type="email" id="Email" autocomplete="off" placeholder="  " class="Block__input">
            <label for="Email" class="Block__label">Correo Electronico</label>
        </div>
        <div class="Form__Block">
            <input type="password" id="password" class="Block__input" placeholder=" ">
            <label for="password" class="Block__label">Contraseña</label>
        </div>
        <div class="Form__Button">
            <input type="submit" value="Ingresar">
        </div>
    </form>
</div>