<div class="editBox">
    <div class="Header">
        <h1>Factura No. <span>000001</span></h1>
        <a routerLink="/sesion/navegar/verpedidos"><i class="far fa-times-circle"></i></a>
    </div>
    <form action="" method="post" class="form">
        <span>Información Cliente:</span>
        <div class="FormBlock">
            <input type="text" class="Block__input" placeholder=" " autocomplete="off" id="name" readonly>
            <label for="name" class="Block__label">Nombre</label>
        </div>
        <div class="FormBlock">
            <input type="number" class="Block__input" placeholder=" " autocomplete="off" id="ID" readonly>
            <label for="ID" class="Block__label">ID</label>
        </div>
        <div class="FormBlock">
            <input type="email" class="Block__input" placeholder=" " autocomplete="off" id="Email" readonly>
            <label for="Email" class="Block__label">Email</label>
        </div>
        <div class="FormBlock">
            <input type="tel" class="Block__input" placeholder=" " autocomplete="off" id="phone" readonly>
            <label for="phone" class="Block__label">teléfono</label>
        </div>
        <span>Producto: </span>
        <div class="FormBlock">
            <input type="text" class="Block__input" placeholder=" " autocomplete="off" id="Pname" readonly>
            <label for="Pname" class="Block__label">Nombre Producto</label>
        </div>
        <div class="FormBlock">
            <textarea class="Block__input" placeholder=" " autocomplete="off" id="comment" readonly></textarea>
            <label for="comment" class="Block__label">Comentario extra:</label>
        </div>
        <span>Extras: </span>
        <div class="FormBlock">
            <input type="text" class="Block__input" placeholder=" " autocomplete="off" id="address" readonly>
            <label for="address" class="Block__label">Dirección</label>
        </div>
        <div class="FormBlock">
            <input type="number" class="Block__input" placeholder=" " autocomplete="off" id="price" readonly>
            <label for="price" class="Block__label">Valor</label>
        </div>
        <div class="FormBlock">
            <input type="text" class="Block__input" placeholder=" " autocomplete="off" id="Fecha" readonly>
            <label for="Fecha" class="Block__label">Fecha</label>
        </div>
        <div class="FormBlock">
            <input type="text" class="Block__input" placeholder=" " autocomplete="off" id="estate" readonly>
            <label for="estate" class="Block__label">Estado:</label>
        </div>
        <div class="ButtonsBlock">
            <a class="delete"><i class="fas fa-trash" (click)="showAlert()"></i></a>
        </div>
    </form>
</div>