<div class="loginBox">
    <img src="../../assets/img/logo_size.jpg" alt="Logo">
    <form class="Form"  [formGroup]="loginForm" >
        <div class="Form__Block">
            <input type="email" id="Email" class="Block__input" autocomplete="off" placeholder=" " formControlName="correo">
            <label for="Email" class="Block__label">Correo Electronico</label>
        </div>
        <div class="Form__Block">
            <input type="password" id="password" placeholder=" " autocomplete="off" class="Block__input" formControlName="contraseña">
            <label for="password" class="Block__label">Contraseña</label>
        </div>
        <div class="Form__Button">
            <button type="submit" [disabled]="!loginForm.valid" (click)="onSignIn(loginForm.value)">
                Ingresar
            </button>
        </div>
    </form>
    <div class="login__Links">
        <a routerLink="/forgotpassword">¿Olvidaste tu contraseña?</a>
        <span>¿No tienes cuenta aún?<a routerLink="/signup">Registrate</a></span>
    </div>
</div>
