<div class="ClientsPanel">
    <h1>Clientes</h1>
    <input type="text" placeholder="Ingrese CC ó NIT" (input)="updateFilter($event.target.value)">

    <div class="tableContainer">
        <table>
            <tr>
                <th>Nombre</th>
                <th>ID</th>
                <th>Email</th>
                <th>Tipo</th>
                <th> </th>
            </tr>
            <tr *ngFor="let usuario of usuariosFiltrados">
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.nit || usuario.cedula}}</td>
                <td>{{usuario.correo}}</td>
                <td>{{getType(usuario)}}</td>
                <td><i (click)="onEdit(usuario.nit || usuario.cedula,usuario)" class="far fa-edit"></i></td>
            </tr>
        </table>
    </div>
    <a routerLink="/signup"><i class="fas fa-plus"></i>Añadir</a>
</div>