<div class="ClientsPanel">
    <h1>Clientes</h1>
    <input type="text" placeholder="Ingrese CC, NIT o nombre">

    <div class="tableContainer">
        <table>
            <tr>
                <th>Nombre</th>
                <th>ID</th>
                <th>Email</th>
                <th>Type</th>
                <th> </th>
            </tr>
            <tr>
                <td>Juan David</td>
                <td>1088255272</td>
                <td>jdoo1115@gmail.com</td>
                <td>odontologo</td>
                <td><i class="far fa-edit"></i></td>
            </tr>
            <tr>
                <td>Jhonatan</td>
                <td>10104575</td>
                <td>jo@gmail.com</td>
                <td>odontologo</td>
                <td><i class="far fa-edit"></i></td>
            </tr>
            <tr>
                <td>Gandhi lab</td>
                <td>10104575-1</td>
                <td>gandhilab@glab.com</td>
                <td>laboratorio </td>
                <td><i class="far fa-edit"></i></td>
            </tr>
        </table>
    </div>
    <a href="#"><i class="fas fa-plus"></i>Añadir</a>
</div>