<div class="PedidosPanel">
    <h1>Pedidos</h1>
    <input type="text" placeholder="Ingrese No pedido ó id cliente">

    <div class="tableContainer">
        <table>
            <tr>
                <th>ID pedido</th>
                <th>ID Cliente</th>
                <th>ID Producto</th>
                <th>Fecha</th>
                <th>Valor</th>
                <th>Estado</th>
                <th> </th>
            </tr>
            <tr>
                <td>2278282</td>
                <td>1088255272</td>
                <td>28528</td>
                <td>25/11/2021</td>
                <th>300000</th>
                <th>Pendiente</th>
                <td><i class="far fa-edit"></i></td>
            </tr>
            <tr>
                <td>2278282</td>
                <td>1086255272</td>
                <td>28528</td>
                <td>25/11/2021</td>
                <th>300000</th>
                <th>Pendiente</th>
                <td><i class="far fa-edit"></i></td>
            </tr>
            <tr>
                <td>2278282</td>
                <td>1088255272</td>
                <td>28528</td>
                <td>25/11/2021</td>
                <th>300000</th>
                <th>Terminado</th>
                <td><i class="far fa-edit"></i></td>
            </tr>
        </table>
    </div>
</div>