<div class="PedidosPanel">
    <h1>Mis compras</h1>
    <input *ngIf="!mensaje" type="text" placeholder="Ingrese No pedido" (input)="updateFilter($event.target.value)">
    <div *ngIf="mensaje" class="alert">
        <h2>{{mensaje}}</h2>
        <img src="../../assets/img/icons8-caja-vacía-64.png" alt="empty">
    </div>
    <div *ngIf="!mensaje" class="tableContainer">
        <table>
            <tr>
                <th>ID pedido</th>
                <th>ID Producto</th>
                <th>Fecha</th>
                <th>Valor</th>
                <th>Estado</th>
                <th> </th>
            </tr>
            <tr *ngFor="let pedido of pedidosFiltrados">
                <td>{{pedido.pk}}</td>
                <td>{{pedido.id_producto}}</td>
                <td>{{pedido.fecha}}</td>
                <td>{{pedido.valor}}</td>
                <th>{{pedido.estado}}</th>
                <td><i (click)="onSee(pedido.pk)" class="fas fa-eye"></i></td>
            </tr>
        </table>
    </div>
</div>