<!-- <app-operator-credentials></app-operator-credentials> -->
<!-- <app-login></app-login>  -->
<!-- <app-forgot-password></app-forgot-password> -->
<!-- <app-form-operator></app-form-operator> -->
<!-- <app-register></app-register> -->
<!-- <div class="ProfileOpe">
    <app-navbar></app-navbar>
    <app-aside-clients></app-aside-clients>
    <app-aside></app-aside>
    <app-main-panel-ope></app-main-panel-ope>
    <app-lab-profile-home></app-lab-profile-home> 
    <app-den-profile-home></app-den-profile-home>
 <app-clients-v></app-clients-v>
    <app-pedidosv></app-pedidosv>
    <app-registro-actividades></app-registro-actividades>
    <app-ayuda></app-ayuda>
</div> -->

<!-- <app-navbar></app-navbar> -->
<!-- <app-operator-edit-pro></app-operator-edit-pro> 
<app-opetor-change-pass></app-opetor-change-pass> -->
<!-- <app-operatoreditclients></app-operatoreditclients> -->
<!-- <app-operatoredit-labs></app-operatoredit-labs> -->
<!-- <app-ver-factura></app-ver-factura> -->
<router-outlet></router-outlet>