<header class="Header">
    <nav class="Header__Nav">
        <a (click)="onLogOut()" class="Link__SignUp"><i class="fas fa-sign-out-alt sign-out"></i></a>
        <a (click)="selectPanel()" class="NameLink"><span class="Navbar__Name">DL MANAGER</span></a>
        <div class="Navbar__user">
            <span>Bienvenido {{correo}}</span>
            <a  (click)="editProfile()"><i class="fas fa-user-circle"></i></a>
        </div>
        <ul class="Nav__Responsive">
            <div class="Nav__responsive-button">
                <i class="fas fa-bars"></i>
            </div>
            <div class="Nav__ResponsiveContainer">
                <li class="First-Block">
                    <span>Bienvenido {{correo}}</span>
                    <a routerLink="/sesionc/editarperfilodt"><i class="fas fa-user-circle"></i></a>
                </li>
                <li class="Block">
                    <a (click)="selectPanel()">Inicio</a>
                </li>
                <hr>
                <li class="Block"><a routerLink="/sesionc/navegarc/miscompras">Mis Compras</a></li>
                <hr>
                <li class="Block"><a routerLink="/sesionc/comprar">Comprar</a></li>
                <hr>
                <li class="Block"><a routerLink="/sesionc/navegarc/ayudac">Ayuda</a></li>
                <hr>
                <li class="Block">
                    <a (click)="onLogOut()">
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>
            </div>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>