<div class="changeBox">
    <h1>
        Editar perfil > cambiar clave
    </h1>
    <p>Desde esta ventana usted podrá realizar el cambio de la clave actual para el acceso al sistema</p>
    <form action="" method="post" class="form">
        <div class="form__block">
            <input type="text" placeholder=" " autocomplete="off" class="Block__input" id="oldpass">
            <label for="oldpass" class="Block__label">Clave actual</label>
        </div>
        <div class="form__block">
            <input type="text"  placeholder=" " autocomplete="off" id="newpass" class="Block__input" >
            <label for="newpass" class="Block__label">Clave nueva</label>
        </div>
        <div class="form__block">
            <input type="text"  placeholder=" " autocomplete="off" id="newpass2" class="Block__input">
            <label for="newpass2" class="Block__label">Verificar clave</label>
        </div>
        <div class="ButtonsBlock">
            <a href="#" class="cancel"><i class="fas fa-times"></i></a>
            <input type="submit" value="Cambiar">
        </div>
    </form>
</div>