<div class="editBox">
    <h1>Clientes > Editar datos > Laboratorio</h1>
    <form class="form" [formGroup]="laboratorioForm">
        <div class="FormBlock">
            <input type="text" class="Block__input" placeholder=" " autocomplete="off" id="name"
                formControlName="nombre_l">
            <label for="name" class="Block__label">Nombre</label>
        </div>
        <div class="FormBlock">
            <input type="text" class="Block__input" placeholder=" " autocomplete="off" id="ID" formControlName="nit">
            <label for="ID" class="Block__label">NIT</label>
        </div>
        <div class="FormBlock">
            <input type="email" class="Block__input" placeholder=" " autocomplete="off" id="Email"
                formControlName="correo_l" readonly>
            <label for="Email" class="Block__label">Email</label>
        </div>
        <div class="FormBlock">
            <input type="tel" class="Block__input" placeholder=" " autocomplete="off" id="phone"
                formControlName="telefono_l">
            <label for="phone" class="Block__label">teléfono</label>
        </div>
        <div class="FormBlock">
            <input type="text" class="Block__input" placeholder=" " autocomplete="off" id="Direction"
                formControlName="direccion_l">
            <label for="Direction" class="Block__label">Dirección</label>
        </div>
        <div class="FormBlock">
        </div>
        <div class="FormBlock">
            <input type="text" class="Block__input" readonly placeholder="Laboratorio" autocomplete="off" id="type">
            <label for="type" class="Block__label">Tipo:</label>
        </div>
        <span>Propietario: </span>
        <div class="FormBlock">
            <input type="text" class="Block__input" placeholder=" " autocomplete="off" id="nameP"
                formControlName="nombre_p">
            <label for="nameP" class="Block__label">Nombre</label>
        </div>
        <div class="FormBlock">
            <input type="number" class="Block__input" placeholder=" " autocomplete="off" id="IDP"
                formControlName="cedula_p">
            <label for="IDP" class="Block__label">CC</label>
        </div>
        <div class="FormBlock">
            <input type="email" class="Block__input" placeholder=" " autocomplete="off" id="EmailP"
                formControlName="correo_p">
            <label for="EmailP" class="Block__label">Email</label>
        </div>
        <div class="FormBlock">
            <input type="tel" class="Block__input" placeholder=" " autocomplete="off" id="phoneP"
                formControlName="telefono_p">
            <label for="phoneP" class="Block__label">teléfono</label>
        </div>
        <div class="ButtonsBlock">
            <a class="delete" (click)="showAlert()"><i class="fas fa-trash"></i></a>
            <a class="hide" (click)="onHide()"><i class="fas fa-eye"></i></a>
            <a routerLink="/sesion/navegar/verclientes" class="cancel"><i class="fas fa-times"></i></a>
            <button type="submit" class="save" [disabled]="!laboratorioForm.valid"
                (click)="onUpdate(laboratorioForm.value)">
                <i class="fas fa-check"></i>
            </button>
        </div>
    </form>
</div>