<div class="AyudaContainer">
    <h1>Ayuda</h1>
    <div class="HelpBlock">
        <i class="far fa-save"></i>
        <p>Presionando el botón, podrá guardar los  cambios realizados en las instancias en las que se le pida</p>
    </div>
    <div class="HelpBlock">
        <i class="fas fa-check"></i>
        <p>Presionando el botón de aceptar, confirma los cambios realizados a los campos que sea permitidos.</p>
    </div>
    <div class="HelpBlock">
        <i class="fas fa-times"></i>
        <p>Presionando el botón de rechazar cancela cualquier cambio o modificación que se le haya realizado a algún campo.</p>
    </div>
    <div class="HelpBlock">
        <i class="far fa-edit"></i>
        <p>Presionando el botón de edición permite al usuario acceder a la ventana donde modificara los datos que se le sean permitidos modificar.</p>
    </div>
    <div class="HelpBlock">
        <i class="fas fa-trash"></i>
        <p>Presionando el boton de eliminar, se podra eliminar el cliente permanentemente del sistema.</p>
    </div>
    <div class="HelpBlock">
        <i class="fas fa-eye-slash"></i>
        <p>Presionando el boton de ocultar, se podra quitar el cliente de la base de datos sin eliminarlo totalmente, solo ocultandolo</p>
    </div>
</div>