<div class="MainPanel">
        <div class="UsersCont">
            <span routerLink="/sesion/navegar/verclientes" class="caption">Total de usuarios registrados:</span>
            <i class="fas fa-users"></i>
            <span class="counter">00</span>
        </div>
        <div class="Recents">
            <table>
                <caption routerLink="/sesion/navegar/verpedidos" class="caption">Pedidos Recientes:</caption>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                </tr>
                <tr>
                    <td>11088108</td>
                    <td>25/01/2021</td>
                    <td>Pendiente</td>
                </tr>
                <tr>
                    <td>11088108</td>
                    <td>25/01/2021</td>
                    <td>Pendiente</td>
                </tr>
            </table>
        </div>
</div>