<div class="FG-Box">
    <img src="../../assets/img/logo_size.jpg" alt="Logo">
    <p>Sí olvido su contraseña ingrese el correo electrónico de registro para enviarle una contraseña provicional:</p>
    <span>*Una vez ingrese con la clave provisional dirijase a cambiar contraseña*</span>
    <form action="" method="post" class="Form">
        <div class="Form__Block">
            <input type="email" id="email" placeholder=" " autocomplete=" off" class="Block__input">
            <label for="email" class="Block__label" placeholder=" ">Correo Electrónico</label>
        </div>
        <div class="Buttons__Block">
            <a href="#">
                <i class="fas fa-angle-double-down"></i>
            </a>
            <input type="submit" value="Enviar Correo">
        </div>
    </form>
</div>