<div class="FG-Box">
    <img src="../../assets/img/logo_size.jpg" alt="Logo">
    <p>Sí olvido su contraseña ingrese el correo electrónico de registro para enviarle una contraseña provicional:</p>
    <span>*Una vez ingrese con la clave provisional dirijase a cambiar contraseña*</span>
    <form class="Form" [formGroup]='forgotform'>
        <div class="Form__Block">
            <input type="email" id="email" placeholder=" " autocomplete=" off" class="Block__input"
                formControlName="correo">
            <label for="email" class="Block__label" placeholder=" ">Correo Electrónico</label>
        </div>
        <div class="Buttons__Block">
            <a routerLink="/">
                <i class="fas fa-angle-double-down"></i>
            </a>
            <button type="submit" [disabled]="(!forgotform.valid)" (click)="sendPass(forgotform.value)">
                Enviar
            </button>
        </div>
    </form>
</div>