<aside class="aside">
    <ul>
        <li><a routerLink="/sesion/navegar/paneloperador">Inicio</a></li>
        <hr>
        <li><a routerLink="/sesion/navegar/verclientes">Clientes</a></li>
        <hr>
        <li><a routerLink="/sesion/navegar/verpedidos">Pedidos</a></li>
        <hr>
        <li><a routerLink="/sesion/navegar/generarcodigo">Codigo descuento</a></li>
        <hr>
        <li><a routerLink="/sesion/navegar/log">Registro de actividades</a></li>
        <hr>
        <li><a routerLink="/sesion/navegar/ayuda">Ayuda</a></li>
    </ul>
    <span>&copy;DL Manager 2021 </span>
</aside>
<router-outlet></router-outlet>