@import '../../styles.scss';

.editBox{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
}

.Header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;

    h1{
        color: $decorator-2;
        font-weight: 900;
        display: inline-block;
        width: 100%;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            height: 1px;
            width: 100%;
            border-bottom: 2px solid $dark-blue;
            left: 0;
            top: 2.2rem;
        }
    }

    i{
        position: absolute;
        right: 0;
        top: 1rem;
        font-size: 2rem;
        margin-right: 1.3rem;
        color: $decorator-2;

        &:hover{
            color: $dark-blue;
        }
    }
}

.form{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(10, auto);

    span{
        font-size: 1.2rem;
        font-weight: 900;
        color: $decorator-2;
        margin: 1rem 0;

        &:nth-child(1){
            grid-column: 1/5;
            grid-row: 1/2;
        }

        &:nth-child(6){
            grid-column: 1/3;
            grid-row: 4/5;
        }

        &:nth-child(9){
            grid-column: 3/5;
            grid-row: 4/5;
        }
    }
}

.FormBlock{
    width: 100%;
    margin: 1rem auto;
    position: relative;

    &:nth-child(2){
        grid-column: 1/3;
        grid-row: 2/3;
        width: 95%;
        margin-left: 0;
    }

    &:nth-child(3){
        grid-column: 3/5;
        grid-row: 2/3;
        width: 95%;
        margin-right: 0;
    }

    &:nth-child(4){
        grid-column: 1/3;
        grid-row: 3/4;
        width: 95%;
        margin-left: 0;
    }

    &:nth-child(5){
        grid-column: 3/5;
        grid-row: 3/4;
        width: 95%;
        margin-right: 0;
    }

    &:nth-child(7){
        grid-column: 1/3;
        grid-row:5/6;
        width: 95%;
        margin-left: 0;
    }

    &:nth-child(8){
        grid-column: 1/3;
        grid-row: 6/8;
        width: 95%;
        margin-left: 0;

        textarea{
            border-radius: 1rem;
            height:150px;
            resize: none;
        }
    }


    &:nth-child(10){
        grid-column: 3/5;
        grid-row:5/6;
        width: 95%;
        margin-right: 0;
    }

    &:nth-child(11){
        grid-column: 3/4;
        grid-row:6/7;
        width: 92.5%;
        margin-right: 0;
    }

    &:nth-child(12){
        grid-column: 4/5;
        grid-row:6/7;
        width: 92.5%;
        margin-right: 0;
    }

    &:nth-child(13){
        grid-column: 3/5;
        grid-row:7/8;
        width: 95%;
        margin-top: 0rem;
        margin-right: 0;

        p{
            color: #555;
            font-weight: 900;
        }
    }
}

.BankInfo{
    grid-column: 1/5;
    grid-row: 8/9;
    display: flex;
    flex-flow: column nowrap;

    .field{
        margin: 1rem 0;


        .NumeroCuenta{
            color: #666;
        }
    }

    p{
        color: $decorator-2;
        font-weight: 900;
        letter-spacing: 1px;
        font-size: 1.2rem;
    }
}

.ButtonsBlock{
    grid-column: 1/5;
    grid-row: 9/10;
    display: grid;
    place-items: center;

    button{
        @include MainButton;

    }
}

.Block__input{
    @include fieldDecoration;
    width: 100%;
}

.Block__label{
    @include labelEdited;
}


.Block__input:focus ~ .Block__label,
.Block__input:not(:placeholder-shown).Block__input:not(:focus)~ .Block__label,.Block__input ~ .Block__label{
    @include LabelAnimation;
    font-size: .9rem;
    color: #000;
}

@media(max-width:800px){
    .editBox{
        width: 90%;
    }
    .form{
        grid-template-rows: repeat(13, auto);
        span{
            &:nth-child(1){
                grid-column: 1/5;
                grid-row: 1/2;
            }
            &:nth-child(6){
                grid-column: 1/5;
                grid-row: 4/5;
            }
            &:nth-child(9){
                grid-column: 1/5;
                grid-row: 7/8;
            }
        }
    }

    .FormBlock{
    
        &:nth-child(2){
            grid-column: 2/5;
            grid-row: 2/3;
            width: 95%;
            margin-right: 0;
        }
    
        &:nth-child(3){
            grid-column: 1/2;
            grid-row: 2/3;
            width: 95%;
            margin-left: 0;
        }
    
        &:nth-child(4){
            grid-column: 2/5;
            grid-row: 3/4;
            width: 95%;
            margin-right: 0;
        }
    
        &:nth-child(5){
            grid-column: 1/2;
            grid-row: 3/4;
            width: 95%;
            margin-left: 0;
        }
    
        &:nth-child(7){
            grid-column: 1/3;
            grid-row:5/6;
            width: 95%;
            margin-left: 0;
        }
    
        &:nth-child(8){
            grid-column: 3/5;
            grid-row: 5/7;
            width: 95%;
            margin-right: 0;
    
            textarea{
                border-radius: 1rem;
                height:150px;
                resize: none;
            }
        }
    
    
        &:nth-child(10){
            grid-column: 1/5;
            grid-row:8/9;
            width: 100%;
            margin-left: 0;
        }
    
        &:nth-child(11){
            grid-column: 3/5;
            grid-row:9/10;
            width: 95%;
            margin-right: 0;
        }
    
        &:nth-child(12){
            grid-column: 1/3;
            grid-row:9/10;
            width: 95%;
            margin-left: 0;
        }
    
        &:nth-child(13){
            grid-column: 1/5;
            grid-row:10/11;
            width: 95%;
            margin-left: 0;
        }
    }

    .BankInfo{
        grid-column: 1/5;
        grid-row: 11/12;
    
        p{
            font-size: 1.1rem;
        }
    }
    
    .ButtonsBlock{
        grid-column: 1/5;
        grid-row: 12/13;
        margin-top: 1rem;
    }
}

@media(max-width:486px){
    .editBox{
        .Header{
            h1{
                font-size: 1.2rem;
            }

            i{
                font-size: 1.5rem;
                top: .85rem;
            }
        }
    }
    .form{
        grid-template-rows: repeat(16, auto);
        grid-template-columns: 1fr;

        span{
            &:nth-child(1){
                grid-column: 1/2;
                grid-row: 1/2;
            }
            &:nth-child(6){
                grid-column: 1/2;
                grid-row: 6/7;
            }
            &:nth-child(9){
                grid-column: 1/2;
                grid-row: 10/11;
            }
        }

        .FormBlock{
            &:nth-child(2){
                grid-column: 1/2;
                grid-row: 2/3;
                width: 100%;
            }
        
            &:nth-child(3){
                grid-column: 1/2;
                grid-row: 3/4;
                width: 100%;
            }
        
            &:nth-child(4){
                grid-column: 1/2;
                grid-row: 4/5;
                width: 100%;
            }
        
            &:nth-child(5){
                grid-column: 1/2;
                grid-row: 5/6;
                width: 100%;
            }
        
            &:nth-child(7){
                grid-column: 1/2;
                grid-row:7/8;
                width: 100%;
            }
        
            &:nth-child(8){
                grid-column: 1/2;
                grid-row: 8/10;
                width: 100%;
        
                textarea{
                    border-radius: 1rem;
                    height:150px;
                    resize: none;
                }
            }
        
        
            &:nth-child(10){
                grid-column: 1/2;
                grid-row:11/12;
            }
        
            &:nth-child(11){
                grid-column: 1/2;
                grid-row:12/13;
                width: 100%;
            }
        
            &:nth-child(12){
                grid-column: 1/2;
                grid-row:13/14;
                width:  100%;
            }
        
            &:nth-child(13){
                grid-column: 1/2;
                grid-row:14/15;
                width: 100%;
            }
        }
    }

    .BankInfo{
        grid-column: 1/2;
        grid-row: 15/16;
    
        p{
            font-size: 1.1rem;
        }
    }
    
    .ButtonsBlock{
        grid-column: 1/2;
        grid-row: 16/17;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

}