<div class="RegistroAPanel">
    <h1>Registro Actividades</h1>
    <input type="text" placeholder="Ingrese CC ó NIT" (input)="updateFilter($event.target.value)">

    <div class="tableContainer">
        <table>
            <tr>
                <th>ID registro</th>
                <th>ID Cliente</th>
                <th>Fecha y hora</th>
                <th>Descripción</th>
            </tr>
            <tr *ngFor="let log of logListFiltrada">
                <td>{{log.pk}}</td>
                <td>{{log.id_cliente}}</td>
                <td>{{log.fecha}} {{log.hora}}</td>
                <td>{{log.descripcion}}</td>
            </tr>
        </table>
    </div>
</div>