<div class="RegistroAPanel">
    <h1>Registro Actividades</h1>
    <input type="text" placeholder="Ingrese id cliente">

    <div class="tableContainer">
        <table>
            <tr>
                <th>ID registro</th>
                <th>ID Cliente</th>
                <th>Fecha y hora</th>
                <th>Descripción</th>
            </tr>
            <tr>
                <td>2278282</td>
                <td>1088255272</td>
                <td>25/11/2021   8:00</td>
                <td>modifico informacion</td>
            </tr>
            <tr>
                <td>2278282</td>
                <td>1088255272</td>
                <td>25/11/2021   8:00</td>
                <td>modifico informacion</td>
            </tr>
            <tr>
                <td>2278282</td>
                <td>1088255272</td>
                <td>25/11/2021   8:00</td>
                <td>modifico informacion</td>
            </tr>
        </table>
    </div>
</div>